@page
@{
    Layout = "_Layout";
}

<body class="container container-fluid">
<div class="jumbotron text-center">
    This is a test that angularjs is working. The result of the operation 2 + 2 should be {{2 + 2}}
    <section>
        <span>This project includes the following:</span>
        <ul class="list-unstyled">
            <li>webapi-core</li>
            <li>swagger</li>
            <li>angularjs</li>
            <li>restangular</li>
            <li>jQuery</li>
            <li>lodash</li>
            <li>bootstrap</li>
            <li>webpack</li>
        </ul>
    </section>
    <span class="text-center">Hack away!</span>
</div>
</body>
